#big_table {
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    top: 100px;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.7em;
}

#big_table td {
    border: solid #000000 1px;
    padding: 2px;
}

.dnjsth_name {
    text-align: center;
    font-size: 70px;
    font-weight: 500;
}

.table_text td {
    width: 200px;
    text-align: left;
    font-size: 18px;
    padding: 3px 2px;
}

#image:hover {
    border: solid magenta 0.1px;
}

.whr {
    height: 30px;
    font-weight: 400;
    font-size: 18px;
}

.wnrl {
    font-family: 'Noto Sans KR', sans-serif;
    width: 30px;
    font-weight: 400;
    font-size: 18px
}

#big {
    margin-bottom: 0;
    bottom: 0;
}
