* { box-sizing: border-box; margin: 0; padding: 0}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

#big_table{
    
    font-family: 'Noto Sans KR', sans-serif;
    position: relative;
    top:100px;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#big_table td {
    border: solid aqua 0px;
    
}

.dnjsth_name {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: 500;
    
} 

.table_text td{
    font-family: 'Noto Sans KR', sans-serif;
    width: 150px;
    height: 30px;
    text-align: left;
    font-size: 18px;
    padding: 3px 2px;
}   

#image:hover {
    border: solid magenta 0.5px;
}

.whr {
    font-family: 'Noto Sans KR', sans-serif;
    height: 30px;
    font-weight: 400;
    font-size: 18px;
}

.wnrl {
    font-family: 'Noto Sans KR', sans-serif;
    width: 30px;
    font-weight: 400;
    font-size: 18px
}
